@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background: #008F7A;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  font-size: 4rem;
  text-shadow: 0.25rem 0.25rem 0.6rem #4B4453;
  display: flex;
  gap: 1.5rem;
  text-align: center;
}

#seconds {
  min-width: 5.5rem;
}
